<div class="messages-container">
  <div class="flash flash-primary alert alert-dismissible fade show" role="alert">
    <span><strong>Yay!</strong> ðŸŽ‰ Your message has been submitted successfully!</span>
    <a data-dismiss="alert" aria-label="Close">
      <%= icon('fas', 'times') %>
    </a>
  </div>

  <div class="d-flex flex-inline justify-content-between">
    <h2 style="text-align:left; padding:8px;">
      Messages about <strong><%= @product.name %></strong> with <strong><%= @product.supplier.name %></strong>
    </h2>
    
    <p>
      <%= link_to "Back to Inbox",  messages_path %>
    </p>
  </div>


  <div class="messages row">
    <% if @messages.empty? %>
      <h3>Hmm.. Maybe you should message someone</h3>
    <% else %>
      <% message = @messages.first %>
      <table class="table table-hover">
        <tr>
          <th>Time</th>
          <th>Sender</th>
          <th>Receiver</th>
          <th>Title</th>
          <th class="d-flex row justify-space-between">Message <%= link_to "ReplyâŽ", new_message_path(product_id: @product, receiver_id: message.outgoing?(current_user) ? message.receiver.id : message.sender.id) %></th>
          <!-- <th>Product</th> -->
        </tr>
        <% @messages.each do |message| %>
          <tbody>
            <tr>
              <td><%= message.created_at.strftime("%m-%e-%y %H:%M") %></td>
              <td><%= message.sender.name %> </td>
              <td><%= message.outgoing?(current_user) ? message.receiver.name : "Me" %></td>
              <td><%= message.title %></td>
              <td><%= message.content %></td>
              <!-- <td><%#= message.product.name %></td> -->
            </tr>
          </tbody>
        <% end %> 
    </table>
    <% end %> 
  </div>
</div>


