<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-offset-6">
      <div class="form">
        <div class="form-message">
          <%# <div class="row">
            <div class="col-xs-12 col-sm-8 offset-sm-2 my-2 form-new-message"> %>
              <h1>Send a Message</h1>
              <%= simple_form_for @message do |f| %>
                <div class="form-inputs">
                  <%= f.input :title %>
                  <%= f.input :content %>
                  <%= f.hidden_field :product_id, :value => @product.id %>
                </div>
                <div class="form-actions">
                  <%= f.button :submit, as: "Create Message" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
