<% unless @supplier.verifications.first&.valid_registration_license %>
  <p>Step 2 - Add a valid license</p>
  <div class="progress my-5 py2">
    <div class="progress-bar bg-info" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
  </div>
<% end %>
<div class="form">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2 my-2">
      <h1>Add a License</h1>
      <%= simple_form_for @license, url: suppliers_licenses_path  do |f| %>
        <div class="form-inputs">
          <%= f.input :number %>
          <%= f.input :authority %>
          <%= f.input :start_date, label: "Start Date", as: :date, html5: true %>
          <%= f.input :expired_date, label: "Expired Date", as: :date, html5: true %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, value: "Save" %>
          <%= link_to "Back", products_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>