<h1>Buyer-offers#index</h1>
<div class="purchaser-offer-container">
  <% @offers.each do |offer| %>
    <div class="card">
      <h5>
        Quantity: <%= offer.amount %>
      </h5>
      <p>
        Destination: $<%= offer.destination %>/unit
      </p>
      <p>
        Payment: <%= offer.payment %>
      </p>
      <%= link_to "Details", purchasers_offer_path(offer) %>
      <%= link_to "Cancel request", purchasers_offer_path(offer), method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
  <% end %>
</div>
