<div class="container">
  <div class="row">
    <%# <div class="col-xs-12 col-sm-4 col-offset-6"> %>
    <div class="form">
      <h1>Offer for: <%= @product.name %></h1>
      <h6><small><%= @product.supplier.name %></small></h6>
      <%= simple_form_for @offer, url: purchasers_offers_path, method: :POST  do |f| %>
        <div class="form-inputs">
          <%= f.input :destination, disabled: @offer.id.present? %>
          <%= f.input :payment , collection: Offer::PAYMENT, prompt: :translate, disabled: @offer.id.present? %>
          <%= f.simple_fields_for :product_offer do |ff|  %>
            <%= ff.input :amount , label: 'Quantity:'%>
          <% end %>
          <%= f.hidden_field :product_id, :value => @product.id %>
        </div>
        <div class="d-flex justify-content-between align-items-center ml-auto", style="width:28%">
          <div>
            <%= link_to "Cancel", product_path(@product), class: "btn btn-outline-secondary" %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, :value => "Send offer", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    <%# </div> %>
  </div>
</div>