<div class="offer-container my-5">
  <div class="offer-top-bar row justify-content-center">
    <div class="quote-name">
      <h1>Quote Confirmation</h1>
    </div>
  </div>

<div class="d-flex justify-content-around my-5" style="width: 100%">
  <div>
    <h2><strong>Supplier</strong></h2>
    <p> <%= @offer.supplier.name %></p>
  </div>

  <div>
    <h2><strong>Destination</strong></h2>
    <p><%= @offer.destination %></p>
  </div>

  <div>
    <h2><strong>Payment</strong></h2>
    <p><%= @offer.payment %></p>
  </div>

   <div>
    <h2><strong>Product amount</strong></h2>
    <p><%= @offer.product_offers.sum(:amount) %></p>
  </div>

  <div>
    <h2><strong>Total price</strong></h2>
    <p>$<%= @offer.price %></p>
  </div>
</div>

<div class="container" style="text-align: left;">
  <div class="d-flex justify-content-between my-5">
    <h2>Order #: <%= @offer.id %></h2>
    <h2>Status: <%= @offer.approved.nil? ? "pending" : "approved" %></h2>
  </div>
  <% @offer.products.each do |product| %>
  <%= render 'shared/offer_product_card', product: product %>
  <% end %>
</div>

<div class="action-btn d-flex justify-content-end">
  <% if @offer.approved.nil? %>
   <div type="button" class="btn btn-confirmed" >
      <%= link_to 'Confirmed', purchasers_offer_path(@offer, confirmed: true), method: :put%>
   </div>

    <% if @offer.confirmed.blank? %>
      <div type="button" class="btn btn-cancel">
        <%= link_to 'Cancel request', purchasers_offer_path(@offer.id), method: :delete, data: {confirm: 'Are you sure?'}%>
      </div>
    <% else %>
      <div class="btn btn-light mx-3" id="btn-browse">You have confirmed the offer</div>
    <% end %>

  <% elsif @offer.approved.present? %>
    <h6>Your offer has been approved</h6>
  <% else %>
    <p>Your request has been rejected</p>
  <% end %>
</div>



