<div class="offer-conatiner my-5">
  <div class="offer-top-bar row justify-content-between">
    <div class="quote-name">
      <h1>Quote Confirmation</h1>
    </div>
    <div class="action-btn d-flex  my-2 mx-2">
      <% if @offer.approved.nil? %>
        <%= link_to 'Cancel request', purchasers_offer_path(@offer.id), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger" %>
      <% elsif @offer.approved.present? %>
        <h6>Your offer has been approved</h6>
      <% else %>
        <p>Your request has been rejected</p>
      <% end %>
      <% if @offer.approved.nil? %>
        <%= link_to 'Browse more products', products_path, :class => "btn btn-light mx-3" %>
      <% end %>
    </div>
  </div>
  <div class="offer-info row">
    <div class="col-sm-6">
      <h6>Destination</h6>
      <hr>
      <%= @offer.destination %>
    </div>
    <div class="col-sm-6">
      <h6>Payment</h6>
      <hr>
      <%= @offer.payment %>
    </div>
    <div class="col-sm-6 my-3">
      <h6>Approved Date</h6>
      <hr>
      <% if @offer.approved.nil? %>
        <p>Pending</p>
      <% else %>
        <%= @offer.approved_date %>
      <% end %>
    </div>
    <div class="col-sm-6 my-3">
      <h6>Supplier</h6>
      <hr>
      <%= @offer.supplier.name %>
    </div>
  </div>
  <div class="row">
    <% if @offer.products.empty?  %>
      <p>Products have been removed from platfrom, please contact <%= @offer.supplier.name %> for more information. </p>
    <% else %>
      <% @offer.products.each do |p| %>
        <div class="offer-product col-sm-12">
          <div class="card-offer">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
            <div class="card-offer-infos">
              <p>Product: <%= p.name %></p>
              <p>Price: <%= p.price %></p>
            </div>
          </div>
        </div>
        <div class=”clearfix hidden-xs”></div>
      <% end %>
    <% end %>
  </div>
</div>