<div class="dashboard d-flex" style="min-height: 100vh; max-width: 100%;">
  <div class="left-col col-xs-12 col-md-3">
    <div class="profile-img ">
      <% if @user.supplier.photo.attached?  %>
        <%= cl_image_tag @user.supplier.photo.key, height: 150, width: 200, crop: :fill %>
      <% else %>
        <%= cl_image_tag("https://res.cloudinary.com/demyxeys9/image/upload/v1592292947/veracity/avatar-png-1_wblzc1.png", :width => 240, :height => 240) %>
      <% end %>
    </div>
    <div class="left-info">
      <div class="company-info">
        <div class="company-header d-flex justify-content-between">
          <h5>My Company</h5>
          <%= link_to "Edit", edit_supplier_path(@user.supplier), :class => "btn btn-outline-secondary" %>
        </div>
        <hr>
        <p>Name: <%= @user.supplier.name %></p>
        <p>Location: <%= @user.supplier.location %></p>
        <p>Email: <%= @user.email %></p>
      </div>
      <div class="licenses-info">
        <div class="license-header d-flex justify-content-between">
          <h5>Licenses</h5>
          <%= link_to "Add", new_suppliers_license_path, :class => "btn btn-outline-secondary" %>
        </div>
        <hr>
        <% @user.supplier.licenses.each do |license| %>
          <div class="license">
            <p>Authority: <%= license.authority %></p>
            <p>Number: <%= license.number %></p>
            <% if license.photos.attached?  %>
              <% license.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
              <% end %>
            <% else %>
              <%= image_tag "sample_license.jpg", height: 150, width: 200, crop: :fill %>
            <% end %>
            <%= link_to "Delete", suppliers_license_path(license), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-warning mx-2"  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="right-col col-xs-12 col-md-9">
    <div class="top-info d-flex row">
      <div class="header-name">
        <% if @user.supplier.verifications.exists? && @user.supplier.verifications.first.registration_completion && @user.supplier.verifications.first.valid_registration_license  %>
          <h1><%= @user.name%> <%= icon('far', 'check-circle') %></h1>
        <% else %>
          <h1><%= @user.name%> <%= icon('far', 'times-circle') %></h1>
        <% end %>
        <p></p>
        <p>Supplier</p>
      </div>
      <div class="header-name">
        <%= link_to "Add product", new_suppliers_product_path, :class => "btn btn-info mx-2" %>
      </div>
    </div>
    <!-- verfication status check -->
    <div class="status-check">
      <% if @user.supplier.verifications.exists? && @user.supplier.verifications.first.registration_completion && @user.supplier.verifications.first.valid_registration_license  %>
        <p>Congrats! You are part of our community now! ✔️</p>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
        </div>
      <% elsif @user.supplier.verifications.exists? && @user.supplier.verifications.first.registration_completion  %>
        <%= link_to new_suppliers_license_path do%>
          <p>Next step - Add licenses</p>
        <% end %>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75% | Completed profile</div>
        </div>
      <% else %>
        <%= link_to edit_supplier_path(@user.supplier) do%>
          <p>Next step - Complete company profile</p>
        <% end %>
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
      <% end %>
    </div>
    <div class="nav-pills-dashboard">
      <!-- tabs -->
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="pills-products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="pills-products" aria-selected="true">My Products</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pills-pending" aria-selected="false">Pending Offers — <%= current_user.supplier.offers.where(approved: nil).count %></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-closed-tab" data-toggle="tab" href="#closed" role="tab" aria-controls="pills-closed" aria-selected="false">Closed Offers — <%= current_user.supplier.offers.where.not(approved: nil).count %></a>
        </li>
      </ul>
      <!-- tab contents -->
      <div class="tab-content" id="myTabContent">
        <!-- My Products-->
        <div class="tab-pane show active" id="products" role="tabpanel" aria-labelledby="products-tab">
          <div class="d-flex flex-wrap flex-fill justify-content-between">
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Price/unit</th>
                  <th scope="col">Certification</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @user.supplier.products.each do |p| %>
                  <%= link_to product_path(p) do %>
                    <tr>
                      <td><%= p.name %></td>
                      <td><%= p.category %></td>
                      <td>$<%= p.price %></td>
                      <% p.certifications.each do |c|  %>
                        <td><%= c.category %></td>
                      <% end %>
                      <td>
                        <%= link_to "Add Certifictions", new_suppliers_certification_path(product_id: p.id), class: "btn btn-info" %>
                        <%= link_to "Edit", edit_suppliers_product_path(p), class: "btn btn-warning" %>
                        <%= link_to "Delete", suppliers_product_path(p), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Pending Offers -->
        <div class="tab-pane" id="pending" role="tabpanel" aria-labelledby="pending-tab">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Destination</th>
                <th scope="col">Products</th>
                <th scope="col">Payment</th>
                <th scope="col">Total price</th>
                <th scope="col">Detail</th>
              </tr>
            </thead>
            <tbody>
              <% @user.supplier.offers.each do |offer| %>
                <%  if offer.approved.nil?  %>
                  <%= link_to suppliers_offer_path(offer) do %>
                    <tr>
                      <td><%= offer.destination %></td>
                      <td>
                        <% offer.products.each do |p| %>
                          <p> <%= p.name %>
                            $<%= p.price %> </p>
                        <% end %>
                      </td>
                      <td><%= offer.payment %></td>
                      <td><%= offer.price %></td>
                      <td><%= link_to "Detail", suppliers_offer_path(offer), class: "btn btn-info" %></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- Closed Offers -->
        <div class="tab-pane" id="closed" role="tabpanel" aria-labelledby="closed-tab">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Destination</th>
                <th scope="col">Products</th>
                <th scope="col">Payment</th>
                <th scope="col">Total price of offer</th>
                <th scope="col">Detail</th>
              </tr>
            </thead>
            <tbody>
              <% @user.supplier.offers.each do |offer| %>
                <%  unless offer.approved.nil? %>
                  <!-- use present to condition -->
                  <%= link_to suppliers_offer_path(offer) do %>
                    <tr>
                      <td><%= offer.destination %></td>
                      <td>
                        <% offer.products.each do |p| %>
                          <p> <%= p.name %>
                            $<%= p.price %> </p>
                        <% end %>
                      </td>
                      <td><%= offer.payment %></td>
                      <td><%= offer.price %></td>
                      <td><%= link_to "Detail", suppliers_offer_path(offer), class: "btn btn-info" %></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- pills dashboard-->
    </div>
    <!-- right col -->
  </div>
  <!-- full dashboard-->