<div class="about-me">
  <h1>My Profile</h1>
  <p>Name: <%= @user.name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Company: <%= @user.supplier.name %></p>
  <p>Location: <%= @user.supplier.location %></p>
  <div class="supplier-btn row justify-content-center">
    <div class="btn btn-outline-info mx-2"><%= link_to "Add new product", new_suppliers_product_path %></div>
    <div class="btn btn-outline-info mx-2"><%= link_to "Add license", new_suppliers_license_path %></div>
    <div class="btn btn-outline-info mx-2"><%= link_to "Add new certification", new_suppliers_certification_path %></div>
  </div>
</div>

<div class="row justify-content-between supplier-products">
  <% @user.supplier.products.each do |p| %>
    <%= link_to product_path(p) do %>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <%= image_tag "mask.jpg", width: 280, height: 200, crop: :fill %>
          <div class="card-body">
            <p class="card-text"><%= p.name %></p>
            <%= link_to "Edit", edit_suppliers_product_path(p), class: "btn btn-supplier" %>
            <%= link_to "Destroy", suppliers_product_path(p), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-supplier" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="supplier-dashboard d-flex justify-content-between">
  <div class="supplier-dashboard-offers mx-3">
    <h4>Pending Offers</h4>
    <!--   approved nil -->
    <% @user.supplier.offers.each do |offer| %>
      <%  if offer.approved.nil?  %>
        <%= link_to suppliers_offer_path(offer) do %>
          <div class="card-offer">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
            <div class="card-offer-infos">
              <p> Destination: <%= offer.destination %></p>
              <p> Payment: <%= offer.payment %> </p>
              <hr>
              <% offer.products.each do | product| %>
                <p>Product Name: <%= product.name %></p>
                <p>Product Category: <%= product.category %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <div class="supplier-dashboard-products mx-3">
    <h4>Closed Offers</h4>
    <% @user.supplier.offers.each do |offer| %>
      <%  if offer.approved.present?  %>
        <%= link_to suppliers_offer_path(offer) do %>
          <div class="card-offer">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
            <div class="card-offer-infos">
              <p> <%= offer.approved %></p>
              <p> Destination: <%= offer.destination %></p>
              <p> Payment: <%= offer.payment %> </p>
              <hr>
              <% offer.products.each do | product| %>
                <p>Product Name: <%= product.name %></p>
                <p>Product Category: <%= product.category %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>