<nav class="navbar sticky-bottom navbar-light bg-light d-flex flex-column" id="footer">

<div class="icons d-flex flex-row">
  <div class="icon">
    <%= link_to '#' do %>
      <%= icon('fab','facebook') %>
    <% end %>
  </div>

  <div class="icon">
    <%= link_to '#' do %>
      <%= icon('fab','weixin') %>
    <% end %>
  </div>

  <div class="icon">
    <%= link_to '#' do %>
      <%= icon('fab','twitter') %>
    <% end %>
  </div>
</div>

  <a class="navbar-brand" href="#">© 2020 VeraCity</a>
</nav>