<nav class="navbar sticky-bottom d-flex flex-column" id="footer">

<div class="icons d-flex flex-row">
  <div class="icon">
    <%= link_to '#' do %>
      <%= icon('fab','facebook') %>
    <% end %>
  </div>

  <div class="icon">
    <%= link_to '#' do %>
      <%= icon('fab','weixin') %>
    <% end %>
  </div>

  <div class="icon">
    <%= link_to '#' do %>
      <%= icon('fab','twitter') %>
    <% end %>
  </div>
</div>

  <p><a class="navbar-brand" href="/">&copy; All Rights Reserved</a></p>
</nav>