<div class="row form">
  <div class="col-xs-12 col-sm-8 offset-sm-2 my-2">
    <%# <h1>Send a Message</h1> %>
    <%= simple_form_for @message do |f| %>
      <div class="form-inputs">
        <%= f.input :title, label: "Subject" %>
        <%= f.input :content, label: "Body" %>
        <%= f.hidden_field :product_id, :value => product_id %>
        <%= f.hidden_field :receiver_id, :value => receiver_id %>
        <%= f.hidden_field :sender_id, :value => current_user.id %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, value: "Send Message" %>
      </div>
    <% end %>
  </div>
</div>