<div class="container-home">
  <div class="certification-checks-icons d-flex flex-row">
    <div>
      <h2>Pre-checked ✔️</h2>
    </div>
    <div class="certification-logo">
      <%= image_tag 'ce-mark.png' %>
    </div>
    <div class="certification-logo">
      <%= image_tag 'fda.png' %>
    </div>
    <div class="certification-logo">
      <%= image_tag 'sgs.png' %>
    </div>
    <div class="certification-logo">
      <%= image_tag 'rohs.png' %>
    </div>
  </div>
</div>
<div class="container-info mx-auto">
  <h1>We make your procurements easier and safer</h1>
  <div class="cards">
    <%= render partial: 'shared/cards', locals: { step: "Step 1", info: "Search and find a trusted supplier", img: "https://res.cloudinary.com/demyxeys9/image/upload/v1591933830/veracity/step_1_-search_ndvllt.jpg" } %>
    <%= render partial: 'shared/cards', locals: { step: "Step 2", info: "Message and make an inquiry", img: "https://res.cloudinary.com/demyxeys9/image/upload/v1591933830/veracity/step_2-email_message_ogcghd.svg" } %>
    <%= render partial: 'shared/cards', locals: { step: "Step 3", info: "Accept and ready for trade", img: "https://res.cloudinary.com/demyxeys9/image/upload/v1591936137/veracity/Step3_wnbzad.png" } %>
  </div>
</div>