<%= render 'shared/banner' %>
<div class="container-home">
    <div class="container">
        <div class="certification-checks-icons d-flex flex-row">

            <h2>Pre-checked ✔️</h2>
            <div class="certification-logo">
                <%= image_tag 'ce-mark.png', size: '500x400' %>
            </div>
            <div class="certification-logo">
                <%= image_tag 'fda.png', size: '250x300' %>
            </div>
            <div class="certification-logo">
                <%= image_tag 'sgs.png', size: '500x400' %>
            </div>
            <div class="certification-logo">
                <%= image_tag 'rohs.png', size: '300x200' %>
            </div>
        </div>
    </div>
</div>
<div class="container-home">
    <div class="container-info mx-auto", style="width: 100vw">
    <h1>We make your procurement easier and safer</h1>
        <div class="cards">
            <%= render partial: 'shared/cards', locals: { step: "Step 1", info: "Search and find a trusted supplier" } %>
            <%= render partial: 'shared/cards', locals: { step: "Step 2", info: "Message and make an inquiry" } %>
            <%= render partial: 'shared/cards', locals: { step: "Step 3", info: "Accept and ready for trade" } %>
          </div>
        </div>
    </div>
</div>
