<h1>Supplier#offer#show</h1>
<div>Amount: <%= @offer.amount %></div>
<div>Destination: <%= @offer.destination %></div>
<div>Price: $<%= @offer.price %>/unit</div>
<div>Payment: <%= @offer.payment %></div>
<div>Approved Date: <%= @offer.approved_date %></div>
<div>Purchaser: <%= @offer.user.name %></div>