<div class="offer-conatiner my-5">
  <div class="offer-top-bar row justify-content-between">
    <div class="quote-name">
      <h1>Quote Confirmation</h1>
    </div>
    <div class="action-btn d-flex  my-2 mx-2">
      <% if @offer.approved.nil? %>
        <div class="btn btn-success">
          <%= link_to 'Approve', suppliers_offer_path(@offer, approved: true), method: :put %>
        </div>
        <div class="btn btn-danger mx-3">
          <%= link_to 'Reject', suppliers_offer_path(@offer, approved: false), method: :put %>
        </div>
      <% elsif @offer.approved.present? %>
        <div class="btn btn-info">
          <%= link_to 'generate quote here', generateoffer_suppliers_offer_path(@offer) %>
        </div>
      <% else  %>
        <p>You have rejected the request</p>
      <% end %>
      <div class="btn btn-light mx-3">
        <%= link_to 'Back to index', suppliers_offers_path %>
      </div>
    </div>
  </div>
  <div class="offer-info">
    <div>Destination: <%= @offer.destination %></div>
    <div>Payment: <%= @offer.payment %></div>
    <div>Approved Date: <%= @offer.approved_date %></div>
    <div>Purchaser: <%= @offer.user.name %></div>
  </div>
  <% @offer.products.each do |p| %>
    <div class="offer-product row">
      <div class="card-offer col-sm-6">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
        <div class="card-offer-infos">
          <p>Product: <%= p.name %></p>
          <p>Price: <%= p.price %></p>
        </div>
      </div>
    </div>
    <div class=”clearfix hidden-xs”></div>
  <% end %>
</div>