<div class="offer-conatiner my-5">
  <div class="offer-top-bar row justify-content-between">
    <div class="quote-name">
      <h1>Quote Confirmation</h1>
    </div>
    <div class="action-btn d-flex  my-2 mx-2">
      <% if @offer.approved.nil? %>
        <%= link_to 'Approve', suppliers_offer_path(@offer, approved: true), method: :put, :class =>"btn btn-success" %>
        <%= link_to 'Reject', suppliers_offer_path(@offer, approved: false), method: :put, :class=>"btn btn-danger mx-3" %>
      <% elsif @offer.approved.present? %>
        <%= link_to 'generate quote here', generateoffer_suppliers_offer_path(@offer), :class => "btn btn-info" %>
      <% else  %>
        <p>You have rejected the request</p>
      <% end %>
      <%= link_to 'Back to index', suppliers_dashboard_path, :class => "btn btn-light mx-3" %>
    </div>
  </div>
  <div class="offer-info row">
    <div class="col-sm-6">
      <h6>Destination</h6>
      <hr>
      <%= @offer.destination %>
    </div>
    <div class="col-sm-6">
      <h6>Payment</h6>
      <hr>
      <%= @offer.payment %>
    </div>
    <div class="col-sm-6 my-3">
      <h6>Approved Date</h6>
      <hr>
      <%= @offer.approved_date %>
    </div>
    <div class="col-sm-6 my-3">
      <h6>Purchaser</h6>
      <hr>
      <%= @offer.user.name %>
    </div>
    <div class="some-info col-sm-6 my-3">
      <h6>Total amount</h6>
      <hr>
      <%= @offer.product_offers.sum(:amount) %>
    </div>
    <div class="some-info col-sm-6 my-3">
      <h6>Totol price</h6>
      <hr>
      <%= @offer.price %>
    </div>
  </div>
  <div class="row justify-content-center">
    <% @offer.products.each do |p| %>
      <%= link_to product_path(p) do %>
        <div class="card my-3" style="width: 12rem;">
          <%= image_tag "mask.jpg", {:style => "width:100%; height:80%;"} %>
          <div class="card-body">
            <p class="card-text">
              Name: <%= p.name %>
              $<%= p.price %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>