<div class="dashboard d-flex" style="min-height: 100vh; max-width: 100%;">
  <div class="left-col col-xs-12 col-md-3">
    <div class="profile-img ">
      <%= cl_image_tag("https://res.cloudinary.com/demyxeys9/image/upload/v1592292947/veracity/avatar-png-1_wblzc1.png", :width => 240, :height => 240) %>
    </div>
    <div class="left-info">
      <div class="company-info">
        <div class="company-header d-flex justify-content-between">
          <h5>My Info</h5>
          <%= link_to "Edit", edit_user_registration_path, :class => "btn btn-outline-secondary" %>
        </div>
        <hr>
        <%# <p>Company: company I represent</p> %>
        <%# <p>Country: Country I am representing/at/will get it shipped to</p> %>
        <p>Email: <%= @user.email %></p>
      </div>
    </div>
  </div>
  <div class="right-col col-xs-12 col-md-9">
    <div class="header-name">
      <h1><%= @user.name%></h1>
      <p>Purchaser</p>
    </div>
    <div class="nav-pills-dashboard">
      <!-- tabs -->
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="pills-pending-tab" data-toggle="pill" href="#pending" role="tab" aria-controls="pills-pending" aria-selected="true">Pending Offers</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-closed-tab" data-toggle="pill" href="#closed" role="tab" aria-controls="pills-profile" aria-selected="false">Approved Offers</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-closed-tab" data-toggle="pill" href="#rejected" role="tab" aria-controls="pills-profile" aria-selected="false">Rejected Offers</a>
        </li>
      </ul>
      <!-- tab contents -->
      <%# Pending tab %>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Destination</th>
                <th scope="col">Products</th>
                <th scope="col">Payment</th>
                <th scope="col">Total price of offer</th>
                <th scope="col">Detail</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @user.offers.each do |offer| %>
                <% if offer.approved.nil?  %>
                  <%= link_to purchasers_offer_path(offer) do %>
                    <tr>
                      <td><%= offer.destination %></td>
                      <td>
                        <% offer.products.each do |p| %>
                          <p> <%= p.name %>
                            $<%= p.price %> </p>
                        <% end %>
                      </td>
                      <td><%= offer.payment %></td>
                      <td><%= offer.price %></td>
                      <td><%= link_to "Detail", purchasers_offer_path(offer) %></td>
                      <td>
                        <%= link_to "Delete", purchasers_offer_path(offer), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade show" id="closed" role="tabpanel" aria-labelledby="closed-tab">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Destination</th>
                <th scope="col">Products</th>
                <th scope="col">Payment</th>
                <th scope="col">Total price of offer</th>
                <th scope="col">Detail</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <% @user.offers.each do |offer| %>
                <%  if offer.approved.present?  %>
                  <!-- use present to condition -->
                  <%= link_to purchasers_offer_path(offer) do %>
                    <tr>
                      <td><%= offer.destination %></td>
                      <td>
                        <% offer.products.each do |p| %>
                          <p> <%= p.name %>
                            $<%= p.price %> </p>
                        <% end %>
                      </td>
                      <td><%= offer.payment %></td>
                      <td><%= offer.price %></td>
                      <td><%= link_to "Detail", purchasers_offer_path(offer) %></td>
                      <td>
                        <%= offer.approved ? "Approved" : "Rejected" %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <%# Rejected Tab %>
        <div class="tab-pane fade show" id="rejected" role="tabpanel" aria-labelledby="rejected-tab">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Destination</th>
                <th scope="col">Products</th>
                <th scope="col">Payment</th>
                <th scope="col">Total price of offer</th>
                <th scope="col">Detail</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <% @user.offers.each do |offer| %>
                <% if offer.approved == false  %>
                  <!-- use present to condition -->
                  <%= link_to purchasers_offer_path(offer) do %>
                    <tr>
                      <td><%= offer.destination %></td>
                      <td>
                        <% offer.products.each do |p| %>
                          <p> <%= p.name %>
                            $<%= p.price %> </p>
                        <% end %>
                      </td>
                      <td><%= offer.payment %></td>
                      <td><%= offer.price %></td>
                      <td><%= link_to "Detail", purchasers_offer_path(offer) %></td>
                      <td>
                        <%= offer.approved ? "Approved" : "Rejected" %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- pills dashboard-->
    </div>
    <!-- right col -->
  </div>
  <!-- full dashboard-->