<div class="form">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2 my-2">
      <h1>Add a product</h1>
      <%= simple_form_for @product, url: suppliers_products_path  do |f| %>
        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :price %>
          <%= f.input :category, collection: Product::CATEGORY, prompt: :translate %>
          <%= f.input :production_quantity %>
          <%= f.input :minimum_order_quantity %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, value: "Save" %>
          <%= link_to "Back", products_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>