<%# <h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p> %>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-0 col-md-4">
      <h1>some text here</h1>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="product-container">
        <div class="card-products">
          <% @products.each do |product| %>
            <%= render :partial => 'shared/product_card', locals: {:product => product } %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-0 col-md-2">
      <h5><em>Most Viewed</em></h5>
      <%= render 'shared/mv_product_card', size: '100x100'%>
      <%= render 'shared/mv_product_card', size: '100x100'%>
      <%= render 'shared/mv_product_card', size: '100x100'%>
      <%= render 'shared/mv_product_card', size: '100x100'%>

    </div>
  </div>

</div>
