<div class="row" style="justify-content: center;">
  <div class="search-box my-5">
    <%= form_tag products_path, class: "d-flex", method: :get do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-inline form-control",
            placeholder: "Search by Product name or Certification type" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="container d-flex justify-content-between">
  <div class="side-col">
    <h1>Filter</h1>
    <div class="filter-container">
      <%= simple_form_for :filter, url: products_path, method: "GET", remote: true, html: { id: "filter-form" } do |f| %>
        <%= f.input :category, label: "Product Type", collection: $category, as: :check_boxes %>
        <%= f.input :minimum_order_quantity, label: "minimum order", collection: $minimum_order_quantity, as: :check_boxes %>
        <%= f.fields_for :certifications do |s| %>
          <%= s.input :category, label: "Certification", collection: $certification, as: :check_boxes %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="mid-col">
    <% @products.each do |product| %>
      <%= render :partial => 'shared/cards/product_card', locals: {:product => product } %>
    <% end %>
  </div>
  <div class="side-col">
    <h5><em>Most Viewed</em></h5>
    <% @products[2..6].reverse_each do |p| %>
      <div class="img-product">
        <%= link_to product_path(p) do %>
          <% p.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 100, width: 100, crop: :fill %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>