<%# <%= render 'shared/dashboard_button' %>
<%# <div class="container-fluid"> %>
      <%# <%= form_tag products_path, :method => 'get' do %>
        <%# <%= text_field_tag :search, params[:search] %>
        <%# <%= submit_tag "Search" %>
      <%# <% end %>

<%# <%= form_for @search do |f| %>
<%# <div class="field"> %>
<--<%# <%= f.label :keywords %>
<%# <%= f.text_field :keywords %>
<%# </div> %>

<%# <div class="field"> %>
<%# <%= f.label :category_id %>
<%# <%= f.collection_select :category_id, Category.order(:name), :id, :na %> %>
<%# </div> %>

  <div class="row">
    <div class="col-xs-0 col-md-4">
      <h1>some text here</h1>

      <div class="checkboxes-certs row">
      <h3>Product certifications I need:</h3>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
          CE
          </label>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
            FDA
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
            ISO
            </label>
          </div>
      </div>
        
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="product-container">
        <div class="card-products">
          <% @products.each do |product| %>
            <%= render :partial => 'shared/product_card', locals: {:product => product } %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="right-col col-xs-0 col-md-2">
      <h5><em>Most Viewed</em></h5>
      <%= render 'shared/mv_product_card', size: '100x100'%>
      <%= render 'shared/mv_product_card', size: '100x100'%>
      <%= render 'shared/mv_product_card', size: '100x100'%>
      <%= render 'shared/mv_product_card', size: '100x100'%>

    </div>
  </div>

</div>
