<!-- product info -->
<div class="container">
  <div class="row my-4">
    <h1 class="display-4"><%= @product.name %></h1>
  </div>
  <div class="product-container bg-light d-flex align-self-center my-5" >
    <div class="bd-highlight">
      <div id="arouselExampleControls" style="height: 400px; width: 400px; "class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% if @product.photos.attached?  %>
            <% @product.photos.each do |photo| %>
              <div class="carousel-item active">
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
              </div>
            <% end %>
          <% else %>
            <%= image_tag("mask.jpg", style: "height: 400px; width: 400px;") %>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="product-show p-3 d-flex flex-column justify-content-between flex-fill">
      <div class="product-header">
        <h4>Product Detail</h4>
        <p><em>Some information about the product here</em></p>
      </div>
      <dl class="row description-list">
        <dt class="col-sm-3">Category</dt>
        <dd class="col-sm-9"><%= @product.category %></dd>
        <dt class="col-sm-3">Certification</dt>
        <dd class="col-sm-9">
          <% @product.certifications.each do |certification| %>
            <p><%= certification.category %></p>
          <% end %>
        </dd>
        <dt class="col-sm-3">Minimum Order</dt>
        <dd class="col-sm-9"><%= @product.minimum_order_quantity %> <small>units</small></dd>
        <dt class="col-sm-3">Price (per unit)</dt>
        <dd class="col-sm-9">$<%= @product.price %>.00 <small>USD</small></dd>
        <dt class="col-sm-3">In Stock</dt>
        <dd class="col-sm-9"><%= @product.production_quantity %> <small>units</small></dd>
        <% unless @product.supplier_id == current_user.supplier&.id %>
          <dt class="col-sm-3 text-truncate">Supplier</dt>
          <dd class="col-sm-9">
            <div type="button" class="btn btn-sm btn-outline-primary">
              <%= link_to "View #{@product.supplier.name} >", supplier_path(@product.supplier) %>
            </div>
          </dd>
        <% end %>
      </dl>
      <div class="row action-buttons">
        <div class="button-group d-flex">
          <div class="buttons align-items-end">
            <% if current_user.purchaser? %>
              <button type="button" class="btn btn-lg btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">
                Send Message
                <%# <%= icon('far', 'envelope') %>
              </button>
            <% end %>
            <%= render 'shared/message_modal', product: @product, receiver_id: @product.supplier.user_id %>
            <% if current_user.purchaser? %>
              <div>
                <%= link_to "Make an Offer", new_purchasers_offer_path(product_id: @product.id), class: "btn btn-lg btn-primary" %>
              </div>
            <% end %>
            <% if policy([:suppliers, @product]).edit? %>
              <div><%= link_to "Edit product", edit_suppliers_product_path(@product), class: "btn btn-primary" %></div>
            <% end %>
            <% if policy([:suppliers, @product]).destroy? %>
              <div><%= link_to "Destroy product", suppliers_product_path(@product.id), class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>