<% if @supplier.verifications.empty? %>
  <p>Step 1 - complete company profile</p>
  <button type="button" data-target="#confirmModal" data-toggle="modal" >Press me</button>
  <div class="progress my-5 py2">
    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
  </div>
<% end %>
<% @supplier.errors.full_messages.each do |message| %>
  <%= render 'shared/flashes', alert: message %>
<% end %>
<div class="form">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2 my-2">
      <h1>Add information</h1>
      <%= simple_form_for @supplier do |f| %>
        <div class="form-inputs">
          <%= f.input :name, label:"Company name" %>
          <%= f.input :location %>
          <%= f.input :industry %>
          <%= f.input :delivery_terms, as: :check_boxes, collection: Supplier::DELIVERYTERM, wrapper: :vertical_collection_inline %>
          <%= f.input :payment_terms, collection: Supplier::PAYMETTERM, prompt: :translate %>
          <%= f.input :fei_number, label: "FEI Number" %>
          <%= f.input :nearest_port %>
          <%= f.input :established %>
          <%= f.input :photo, as: :file, label:"Profile picture" %>
        </div>
        <div class="form-actions">
          <button type="button" data-target="#confirmModal" data-toggle="modal" >Check and Save</button>
          <%= link_to "Back", suppliers_dashboard_path %>
        </div>
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Searching VeraCity Database…</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="loader" mx-2></div>
                <p>Please click the button below to see if a match was found.</p>
                <%= f.button :submit, value: "Display Result" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>