<div class="supplier-show">
  <div class="column">
    <div class="about-supplier supplier-info">
      <h1><%= @supplier.name %></h1>
      <div class="detailed-info">
        <p>Location: <%= @supplier.location %></p>
        <p>Industry: <%= @supplier.industry %></p>
        <p>Delivery term: <%= @supplier.delivery_terms %></p>
        <p>Payment term: <%= @supplier.payment_terms %></p>
        <p>Nearest port: <%= @supplier.nearest_port %></p>
        <p>More information for license</p>
        <% if @supplier.photo.attached?  %>
          <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
        <% else %>
          <%= cl_image_tag("https://res.cloudinary.com/demyxeys9/image/upload/v1592292947/veracity/avatar-png-1_wblzc1.png", :width => 240, :height => 240) %>
        <% end %>
        <% @supplier.licenses.each do |license| %>
          <p>1. Authority: <%= license.authority %></p>
          <p>2. Number: <%= license.number %></p>
        <% end %>
        <div class="supplier-profile-img">
          <!-- put supplier profile img here -->
        </div>
      </div>
    </div>
    <div class="supplier-info">
      <h1 id="others">Other Products</h1>
      <div class="other-products-row d-flex row">
        <% @supplier.products.each do |product|  %>
          <%= link_to product_path(product) do %>
            <div class="supplier-product-info">
              <!--put product image here -->
              <h5><strong> <%= product.name %></strong></h5>
              <div class="detailed-product-info">
                <p>Price: $<%= product.price %>/unit</p>
                <% product.certifications.each do |certification| %>
                  <p>Certification: <%= certification.category %></p>
                <% end %>
                <%# <p>Category: <%= product.category</p> %>
                <%# <p>In Stock: <%= product.production_quantity</p> %>
                <%# <p>Minimum order: <%= product.minimum_order_quantity</p> %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>