<div class="supplier-show">
  <div class="column">

    <div class="about-supplier supplier-info">
      
      <h1><%= @supplier.name %></h1>

      <div class="supplier-profile my-4 d-flex row">
        <div class="detailed-info">
          <h5><strong>Location:</strong> <%= @supplier.location %></h5>
          <h5><strong>Industry:</strong> <%= @supplier.industry %></h5>
          <h5><strong>Payment terms:</strong> <%= @supplier.payment_terms %></h5>
          <h5><strong>Nearest port:</strong> <%= @supplier.nearest_port %></h5>
        </div>

        <div class="supplier-info-avatar">
          <% if @supplier.photo.attached?  %>
            <%= cl_image_tag photo.key, height: 240, width: 240, crop: :fill %>
          <% else %>
            <%= cl_image_tag("https://res.cloudinary.com/demyxeys9/image/upload/v1592292947/veracity/avatar-png-1_wblzc1.png", :width => 240, :height => 240) %>
          <% end %>
        </div>
      </div>

      <div class="business-licenses my-6">
        <h4>Business License(s):</h4>
        <% @supplier.licenses.each do |license| %>
        <div class="license-details d-flex">
          <div class="license">
            <% if license.photos.attached?  %>
              <% license.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
              <% end %>
            <% else %>
              <%= image_tag "sample_license.jpg", height: 150, width: 200, crop: :fill %>
            <% end %>
          </div>
          <div class="license">
            <p>1. Licensing Body: <em><%= license.authority %></em></p>
            <p>2. License Number: <em><%= license.number %></em></p>
          </div>
        </div> <!-- license-details -->
        <% end %>
      </div> <!-- business-licenses -->
    </div> <!-- about-supplier supplier-info -->

    <div class="supplier-more-products">
      <h2 id="others">Other Products</h2>
      <div class="other-products-row d-flex">

        <% @supplier.products.each do |product|  %>
          <div class="other-product d-flex row col-4">
            <%= link_to product_path(product) do %>
          
            <!-- product image here -->
            <div class="product-section mb-4 d-flex justify-content-center">
              <% if product.photos.attached?  %>
                <% product.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
                <% end %>
              <% else %>
                <%= image_tag "mask.jpg", height: 150, width: 200, crop: :fill %>
              <% end %>
            </div>

            <div class="product-section column text-align-center justify-content-between">
              <h5><strong> <%= product.name %></strong></h5>
              <div class="detailed-product-info d-flex row justify-content-between mt-3">
                <div class="d-flex flex-grow-1">
                  <p>$<%= product.price %>/unit</p>
                </div>

                <div class="d-flex flex-grow-1">
                  <% product.certifications.each do |certification| %>
                    <p><%= certification.category %> </p>
                  <% end %>
                </div>
                <%# <p>Category: <%= product.category</p> %>
                <%# <p>In Stock: <%= product.production_quantity</p> %>
                <%# <p>Minimum order: <%= product.minimum_order_quantity</p> %>
              </div>
            </div>

            <% end %>
          </div>
        <% end %>

      </div>
    </div>

  </div>
</div>